<div class="w-100 px-5">
    <div class="pt-5">
        <h2 class="text-normal">启动</h2>
        <ul>
            <li class="list-style-none font-small"><a class="new-file" href="#">新建文件</a></li>
            <li class="list-style-none font-small"><a class="open-file" href="#">打开文件</a></li>
            <li class="list-style-none font-small"><a class="open-dir" href="#">打开文件夹</a></li>
        </ul>
    </div>

    <div class="pt-5">
        <h2 class="text-normal">最近</h2>
        <ul id="history-list">
            <!-- history list -->
        </ul>
    </div>
</div>
